arca-invoice/invoice-arca.json
{
  "name": "Factura - Afip",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2144,
        448
      ],
      "id": "c7367113-0e29-46f4-97ae-d31067f4bf15",
      "name": "Telegram Webhook",
      "webhookId": "c28d80dd-b6c3-4a34-8edb-9dd5bceb6545"
    },
    {
      "parameters": {
        "jsCode": "// Procesar webhook de Telegram\nconst inputData = $input.first().json;\n// El webhook puede enviar datos en body o directamente\nconst update = inputData.body || inputData;\nconst message = update.message;\n\nif (!message || !message.text) {\n  return [];\n}\n\nconst chatId = message.chat.id;\nconst messageText = message.text.trim();\nconst userId = message.from.id;\nconst userName = message.from.first_name || message.from.username || 'Usuario';\n\n// Variables para la respuesta\nlet response = '';\nlet processInvoice = false;\nlet userData = {};\n\n// Procesar comandos\nif (messageText.toLowerCase() === '/start' || messageText.toLowerCase() === 'hola') {\n  response = `👋 ¡Hola ${userName}! Soy tu asistente para generar facturas AFIP.\\n\\n` +\n           \"📋 Para crear una factura, envía los datos en este formato (separados por líneas):\\n\\n\" +\n           \"1️⃣ Nombre del cliente\\n\" +\n           \"2️⃣ DNI/CUIT\\n\" +\n           \"3️⃣ Dirección completa\\n\" +\n           \"4️⃣ País\\n\" +\n           \"5️⃣ Descripción del servicio\\n\" +\n           \"6️⃣ Monto en USD\\n\" +\n           \"7️⃣ Cantidad\\n\" +\n           \"8️⃣ Método de pago\\n\\n\" +\n           \"📝 *Ejemplo:*\\n\" +\n           \"Juan Pérez\\n\" +\n           \"12345678901\\n\" +\n           \"Av. Corrientes 1234, CABA\\n\" +\n           \"Argentina\\n\" +\n           \"Servicios de consultoría\\n\" +\n           \"1500\\n\" +\n           \"1\\n\" +\n           \"transferencia\";\n           \n} else if (messageText.toLowerCase() === '/cancel') {\n  response = \"❌ Proceso cancelado. Escribe /start para comenzar nuevamente.\";\n  \n} else if (messageText.toLowerCase() === '/help') {\n  response = \"🆘 *Ayuda - Bot de Facturas AFIP*\\n\\n\" +\n           \"*Comandos disponibles:*\\n\" +\n           \"/start - Iniciar proceso\\n\" +\n           \"/help - Mostrar ayuda\\n\" +\n           \"/cancel - Cancelar\\n\\n\" +\n           \"*Para generar una factura:*\\n\" +\n           \"Envía los datos en 8 líneas separadas como se muestra en /start\";\n           \n} else {\n  // Procesar datos de factura\n  const lines = messageText.split('\\n').map(line => line.trim()).filter(line => line.length > 0);\n  \n  if (lines.length >= 8) {\n    const [clientName, clientDni, clientAddress, clientCountry, description, amount, quantity, paymentMethod] = lines;\n    \n    // Validaciones\n    const amountNum = parseFloat(amount);\n    const quantityNum = parseInt(quantity);\n    \n    if (isNaN(amountNum) || amountNum <= 0) {\n      response = \"❌ *Error en el monto*\\n\\nEl monto debe ser un número válido mayor a 0.\\n\\nEjemplo: 1500\";\n    } else if (isNaN(quantityNum) || quantityNum <= 0) {\n      response = \"❌ *Error en la cantidad*\\n\\nLa cantidad debe ser un número entero mayor a 0.\\n\\nEjemplo: 1\";\n    } else {\n      // Generar fechas automáticamente\n      const today = new Date();\n      const invoiceDate = today.toISOString().slice(0, 10).replace(/-/g, '');\n      const paymentDate = new Date(today.getTime() + (30 * 24 * 60 * 60 * 1000)).toISOString().slice(0, 10).replace(/-/g, '');\n      \n      userData = {\n        client_name: clientName,\n        client_dni: clientDni,\n        client_address: clientAddress,\n        client_country: clientCountry,\n        client_country_code: clientCountry.toLowerCase() === 'argentina' ? 200 : 212,\n        client_cuit_country: clientDni,\n        invoice_description: description,\n        invoice_amount: amountNum,\n        invoice_quantity: quantityNum,\n        invoice_date: invoiceDate,\n        payment_method: paymentMethod,\n        payment_date: paymentDate,\n        chat_id: chatId\n      };\n      \n      response = \"📋 *Datos recibidos correctamente* ✅\\n\\n\" +\n               \"*Resumen de la factura:*\\n\" +\n               `👤 Cliente: ${userData.client_name}\\n` +\n               `🆔 DNI/CUIT: ${userData.client_dni}\\n` +\n               `📍 Dirección: ${userData.client_address}\\n` +\n               `🌍 País: ${userData.client_country}\\n` +\n               `📝 Descripción: ${userData.invoice_description}\\n` +\n               `💰 Monto: $${userData.invoice_amount} USD\\n` +\n               `📦 Cantidad: ${userData.invoice_quantity}\\n` +\n               `💳 Pago: ${userData.payment_method}\\n\\n` +\n               \"⏳ *Procesando factura en AFIP...*\";\n      \n      processInvoice = true;\n    }\n  } else {\n    response = \"❌ *Datos incompletos*\\n\\n\" +\n             `Recibí ${lines.length} línea(s), pero necesito exactamente 8 líneas.\\n\\n` +\n             \"Por favor, envía todos los datos juntos separados por líneas. Usa /start para ver el formato.\";\n  }\n}\n\nreturn [{\n  userPhone: chatId,\n  response: response,\n  processInvoice: processInvoice,\n  invoiceData: processInvoice ? userData : null,\n  userName: userName\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        448
      ],
      "id": "d14c54aa-0ab5-4466-8463-29311abc6777",
      "name": "Process Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-response",
              "leftValue": "={{ $json.response ? true : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1536,
        448
      ],
      "id": "9f387d85-3328-476f-b1af-20dd5e6cac53",
      "name": "Check Valid Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8142830507:AAHfrQayzj8f9jDZNrtqbocq4XleJMQQUwk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.userPhone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        448
      ],
      "id": "aa5f68ad-0995-422a-b2ee-2aefc00c3997",
      "name": "Send Telegram Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-process-invoice",
              "leftValue": "={{ $json.processInvoice }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1136,
        448
      ],
      "id": "5046a6d8-9aa3-4e33-9606-11b9c2f31b4a",
      "name": "Check If Process Invoice"
    },
    {
      "parameters": {
        "jsCode": "const invoiceData = $input.first().json.invoiceData;\nconst chatId = $input.first().json.userPhone;\n\nreturn [{\n  chat_id: chatId,\n  client_name: invoiceData.client_name,\n  client_dni: invoiceData.client_dni,\n  client_address: invoiceData.client_address,\n  client_country: invoiceData.client_country,\n  client_country_code: invoiceData.client_country_code,\n  client_cuit_country: invoiceData.client_cuit_country,\n  invoice_description: invoiceData.invoice_description,\n  invoice_amount: invoiceData.invoice_amount,\n  invoice_quantity: invoiceData.invoice_quantity,\n  invoice_date: invoiceData.invoice_date,\n  payment_method: invoiceData.payment_method,\n  payment_date: invoiceData.payment_date\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        448
      ],
      "id": "9a88ad55-ca30-4b93-b500-6e558c15ab80",
      "name": "Prepare Telegram Data"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del formulario\nconst formData = $input.first().json;\n\n// Valores por defecto\nconst defaults = {\n  client_name: \"Ontop Holdings Inc\",\n  client_dni: \"301247689\",\n  client_address: \"251 little driver, wilmington, new castle country, delaware, 19808\",\n  client_country: \"ESTADOS UNIDOS\",\n  client_country_code: 212,\n  client_cuit_country: \"55000002126\",\n  invoice_description: \"Honorarios Profesionales correspondiente al mes de febrero del año 2025\",\n  invoice_amount: 1400,\n  invoice_quantity: 1,\n  invoice_date: \"20250720\",\n  payment_method: \"transferencia\",\n  payment_date: \"20250730\"\n};\n\n// Mapear datos del formulario o usar valores por defecto si están vacíos\nconst invoiceData = {\n  client_name: formData.client_name || defaults.client_name,\n  client_dni: formData.client_dni || defaults.client_dni,\n  client_address: formData.client_address || defaults.client_address,\n  client_country: formData.client_country || defaults.client_country,\n  client_country_code: formData.client_country_code || defaults.client_country_code,\n  client_cuit_country: formData.client_cuit_country || defaults.client_cuit_country,\n  invoice_description: formData.invoice_description || defaults.invoice_description,\n  invoice_amount: formData.invoice_amount || defaults.invoice_amount,\n  invoice_quantity: formData.invoice_quantity || defaults.invoice_quantity,\n  invoice_date: formData.invoice_date || defaults.invoice_date,\n  payment_method: formData.payment_method || defaults.payment_method,\n  payment_date: formData.payment_date || defaults.payment_date,\n  chat_id: formData.chat_id\n};\n\nreturn [invoiceData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        448
      ],
      "id": "c177a78c-805a-410b-a2d2-52f068400dc6",
      "name": "Set Invoice Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.afipsdk.com/api/v1/afip/auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "environment",
              "value": "dev"
            },
            {
              "name": "tax_id",
              "value": "20400832278"
            },
            {
              "name": "wsid",
              "value": "wsfex"
            },
            {
              "name": "cert",
              "value": "-----BEGIN CERTIFICATE----- MIIDTTCCAjWgAwIBAgIIWfPQYBz8lPgwDQYJKoZIhvcNAQENBQAwODEaMBgGA1UEAwwRQ29tcHV0 YWRvcmVzIFRlc3QxDTALBgNVBAoMBEFGSVAxCzAJBgNVBAYTAkFSMB4XDTI1MDYyMTIzNDAwMFoX DTI3MDYyMTIzNDAwMFowMzEWMBQGA1UEAwwNb250b3BmYWN0Y2VydDEZMBcGA1UEBRMQQ1VJVCAy MDQwMDgzMjI3ODCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOPWQw0kq/Wo7Nr6s4D6 VWD/n64W1fawkde2c5LfIc9j11Cyk1ZgkJUzq64jwNVV0AtgjUDO1tk41zGoWeYdBkyuZoPfV7BQ LEVwvNIg6+0yvTEaJDHMvMFbsYfHklNZjv6aa3vUuI0J0vhKT82KhUavlDfsE+4kYKxQoXYexn2k BJaycYm2qHZARkkrmZI1OPlvXUb6xHlAO+LDfn/LtPSBbCqqMG9WNOU8Pn6TduScE9m+Y75br5wF Z+7Aei97l3ODpKIRmA1v1uswj5CRptw64oFVlWQQW4NNchSbcjokzGGHVnqNLqN2BQ4hF0SV6d2i Qy0pqSyqGR8CB1NY+jECAwEAAaNgMF4wDAYDVR0TAQH/BAIwADAfBgNVHSMEGDAWgBSzstP//em6 3t6NrxEhnNYgffJPbzAdBgNVHQ4EFgQU/KkTSOEGjiug1hZ2GBur7o0vsWgwDgYDVR0PAQH/BAQD AgXgMA0GCSqGSIb3DQEBDQUAA4IBAQCOVUj/yMKsxYVpmGlOGUMimjDx7YX0LP1KB1dT4MVMXOSE UbM7/ua3oYWz3qIZHeyrdrhTI9W81ajsK+N3ys6gIKLs2H81Tc89XLsBFqaygRbd9CjVXMW5PhH3 YDMClL/yXTqzIXrSx06CzcWoX6WgxFrQwRcIW+4SXT7s4HzpVP7IXvmKhpVn/1QtRSW91yf2+9gi FqYe6kgVx706QrHqd3mMdN+CPMVs43+WYFQbMB4Qt8hdYW4NC4zHLvbpIr7IMA4MNjGX1L1LpdOw YkDaJ8FKVzKfIy2w7nI/2zwg04BKNstACve3nLsVQe6TP5NNpcOS/trXStpik/cnb2rX -----END CERTIFICATE-----"
            },
            {
              "name": "key",
              "value": "-----BEGIN RSA PRIVATE KEY----- MIIEowIBAAKCAQEA49ZDDSSr9ajs2vqzgPpVYP+frhbV9rCR17Zzkt8hz2PXULKT VmCQlTOrriPA1VXQC2CNQM7W2TjXMahZ5h0GTK5mg99XsFAsRXC80iDr7TK9MRok Mcy8wVuxh8eSU1mO/ppre9S4jQnS+EpPzYqFRq+UN+wT7iRgrFChdh7GfaQElrJx ibaodkBGSSuZkjU4+W9dRvrEeUA74sN+f8u09IFsKqowb1Y05Tw+fpN25JwT2b5j vluvnAVn7sB6L3uXc4OkohGYDW/W6zCPkJGm3DrigVWVZBBbg01yFJtyOiTMYYdW eo0uo3YFDiEXRJXp3aJDLSmpLKoZHwIHU1j6MQIDAQABAoIBACR4Rypi7N25aRSS XcpvB9yrfml1AVHoKKhBbdWcPwK+BhjGRPxmH66qYzhQQ81CW7d+gI3Xrh9+UEAE JUPG8Ju0rPc9+IDiDHwfFDKEj49b+FnUR+fq0GoZHd1QrlUGOHP7zum2/sWgxXL2 HjkWC8hpUY30Daqoiwr6KyZHvdkdazoZvvRrDTia1jJS/ch2B4k0v0O3aeXAjQHQ X5OO5z1LZebxAwDNaYXRYCoO7S2gWHgTXfeFigOCj01Xd18v+F2T4C5MNWvCKQCP Sqaduy245onWjqffN0ywlcCUuIq8VqM3niNeSp33qQomUae50d0qbH/IkXQaVhgv 0mgN8lkCgYEA+n7dJ6v34dE7j61zg6+9PwR4fvSR9lgv4groLuYoqRuyAhq0k9bb uEb6gW/v3DnmWFhSzMaDYpm75dW5I3bzyUx7R5WSVTO9vJPmVCvyv6aW335Jw3tP RcUwmUEa6HR1jF0R6fqwdUIjhHdf9FS6AIOe3aSVzyn4nFIiF06M7SUCgYEA6Nfv OkTGUCbgswRhDKlVYpqB8Sl07kOPDq9mPXVKASpvW/L4gTtuiJgu05txPiQ2RejF Z28KmDfG2+Qg6G11WvTwhxENDLNq5pOn6Px70Q1+6az8jlbEJ9C8KeB19NqQdN9+ exriWXIOVQ76u33MxGsAwc76iKWKNLzR0XHbmR0CgYB7Ok2xZnfbLwMN+1YIQjvm 9FwSmF31wgxMNvFhoPf/uRAo2NpcoCYW0VQKuPZWcGVQsKKK+l1H9DjrJ+ib+biU HnvHC12hbIK6ckeswLH6dgliiM3gzJiCyi7ONaj3EdOB6YcWg6yrAo5WbCNYHxYh ip5sirrn3s3emMkMjiflwQKBgAu+6Nh9o6tjaq5dKDAlUqNYu/lYaAek7NCG1JeB FSyd4WQ4C4UpZFgLpUETdFD4Lqy0I1Embthi5+srxOU0sFjYRlHp8EiVvGzJQg0k v3I6Rg6vpUXg5qBDjVpnckvZwrPCmnTHVGfCsypjSQ6wN+Yop68fK9A82Y3zgHoa TkOZAoGBAPbBsI6/tjT9iicY18Sc+7XWbi4Mcwz5yRoG5JWiwS/e8DTgad19L369 wTdiODJBOxwzo0oCee7NQc6ANYIBv5575bA78jmol8yklvAbeanuohun4/ncybZI +L96ydqe2OnIBPnVthAkyagBx+s6Z6WsGBlXmpfS7KIyBN9bv4zM -----END RSA PRIVATE KEY-----"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        448
      ],
      "id": "a848dfdc-624b-4f58-ac31-7468e4ec0d74",
      "name": "get_authorization"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.afipsdk.com/api/v1/afip/requests",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"environment\": \"dev\",\n  \"method\": \"FEXGetLast_ID\",\n  \"wsid\": \"wsfex\",\n  \"params\": {\n    \"Auth\": {\n      \"Token\": \"{{ $('get_authorization').item.json.token }}\",\n      \"Sign\": \"{{ $('get_authorization').item.json.sign }}\",\n      \"Cuit\": 20400832278\n    },\n    \"PtoVta\": 2,\n    \"CbteTipo\": 19\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        352
      ],
      "id": "26b19850-2240-4256-a83d-db7e34c704e6",
      "name": "get_last_voucher_number"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.afipsdk.com/api/v1/afip/requests",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"environment\": \"dev\",\n  \"method\": \"FEXGetPARAM_Ctz\",\n  \"wsid\": \"wsfex\",\n  \"params\": {\n    \"Auth\": {\n      \"Token\": \"{{ $('get_authorization').item.json.token }}\",\n      \"Sign\": \"{{ $('get_authorization').item.json.sign }}\",\n      \"Cuit\": 20400832278\n    },\n    \"Mon_id\": \"DOL\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        144
      ],
      "id": "5028babd-a2aa-4cf4-b96b-126a670613e9",
      "name": "get_usd_exchange_rate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.afipsdk.com/api/v1/afip/requests",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"environment\": \"dev\",\n  \"method\": \"FEXAuthorize\",\n  \"wsid\": \"wsfex\",\n  \"params\": {\n    \"Auth\": {\n      \"Token\": \"{{ $('get_authorization').item.json.token }}\",\n      \"Sign\": \"{{ $('get_authorization').item.json.sign }}\",\n      \"Cuit\": 20400832278\n    },\n    \"Cmp\": {\n      \"Id\": 1,\n      \"Fecha_cbte\": \"{{ $('Set Invoice Data').item.json.invoice_date }}\",\n      \"Cbte_Tipo\": 19,\n      \"Punto_vta\": 2,\n      \"Cbte_nro\": {{ $('get_last_voucher_number').item.json.FEXGetLast_IDResult.FEXResultGet.Id + 1 }},\n      \"Tipo_expo\": 2,\n      \"Permiso_existente\": \"\",\n      \"Dst_cmp\": {{ $('Set Invoice Data').item.json.client_country_code }},\n      \"Cliente\": \"{{ $('Set Invoice Data').item.json.client_name }}\",\n      \"Cuit_pais_cliente\": \"{{ $('Set Invoice Data').item.json.client_cuit_country }}\",\n      \"Domicilio_cliente\": \"{{ $('Set Invoice Data').item.json.client_address }}\",\n      \"Moneda_Id\": \"DOL\",\n      \"Moneda_ctz\": {{ $('get_usd_exchange_rate').item.json.FEXGetPARAM_CtzResult.FEXResultGet.Mon_ctz }},\n      \"Imp_total\": {{ $('Set Invoice Data').item.json.invoice_amount }},\n      \"Idioma_cbte\": 1,\n      \"Forma_pago\": \"{{ $('Set Invoice Data').item.json.payment_method }}\",\n      \"Incoterms\": \"\",\n      \"Incoterms_Ds\": \"\",\n      \"Obs_comerciales\": \"{{ $('Set Invoice Data').item.json.invoice_description }}\",\n      \"Obs_generales\": \"\",\n      \"Obs\": \"\",\n      \"Cmps_asoc\": [],\n      \"Fecha_pago\": \"{{ $('Set Invoice Data').item.json.payment_date }}\",\n      \"Items\": {\n        \"Item\": [\n            {\n              \"Pro_ds\": \"{{ $('Set Invoice Data').item.json.invoice_description }}\",\n              \"Pro_qty\": {{ $('Set Invoice Data').item.json.invoice_quantity }},\n              \"Pro_umed\": 7,\n              \"Pro_precio_uni\": {{ $('Set Invoice Data').item.json.invoice_amount / $('Set Invoice Data').item.json.invoice_quantity }},\n              \"Pro_total_item\": {{ $('Set Invoice Data').item.json.invoice_amount }}\n            }\n          ]\n        }\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        448
      ],
      "id": "816dc14f-7e03-4a3a-a03a-e93b4e8e8848",
      "name": "create_voucher"
    },
    {
      "parameters": {
        "jsCode": "// Datos para el QR (Respetar si es string o numero)\nconst r = $input.first().json.FEXAuthorizeResult.FEXResultAuth;\nconst triggerData = $('Set Invoice Data').item.json;\nconst QRCodeData = {\n    'ver': 1,\n    'fecha': r.Fch_cbte,\n    'cuit': Number(r.Cuit),\n    'ptoVta': Number(r.Punto_vta),\n    'tipoCmp': Number(r.Cbte_tipo),\n    'nroCmp': Number(r.Cbte_nro),\n    'importe': Number(triggerData.invoice_amount),\n    'moneda': \"DOL\",\n    'ctz': 2,\n    'tipoDocRec': 99,\n    'nroDocRec': Number(triggerData.client_dni),\n    'tipoCodAut': 'E',\n    'codAut': Number(r.Cae)\n};\nconst QRCodeText = 'https://www.afip.gob.ar/fe/qr/?p=' + Buffer.from(JSON.stringify(QRCodeData)).toString('base64');\nreturn [{ \n  qr_code_text: QRCodeText,\n  voucher_result: r,\n  chat_id: triggerData.chat_id,\n  invoice_data: triggerData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        448
      ],
      "id": "b7a59522-ad19-4bc2-9480-bfe460f7379e",
      "name": "generate-qr-code"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Factura de Exportación</title>\n  <style>body { font-family: Arial, sans-serif; width: 750px; margin: 0 auto; padding: 0; background-color: #fff; font-size: 11px; position: absolute; } .invoice { background-color: white; } .original-row { text-align: center; padding: 10px; border-bottom: 1px solid #000; font-weight: bold; font-size: 14px; } .header-row { display: flex; border-bottom: 2px solid #000; position: relative; } .left-header { flex: 1; padding: 10px; border-right: 1px solid #000; } .right-header { flex: 1; padding: 10px; } .code-box { position: absolute; left: 50%; top: 1px; transform: translateX(-50%); border: 1px solid #000; padding: 2px 7px; text-align: center; background-color: white; z-index: 10; } .code-e { font-size: 24px; font-weight: bold; margin-bottom: 5px; } .code-19 { font-size: 10px; } .factura-title { font-weight: bold; font-size: 14px; margin-top: 60px; } .right-details { margin-top: 10px; } .company-row { padding: 10px; border-bottom: 1px solid #000; } .company-details { display: flex; gap: 30px; margin-top: 10px; } .client-section { flex: 1; } .address-section { flex: 1; } .full-width-row { padding: 8px; border-bottom: 1px solid #000; background-color: #f8f8f8; } .summary-row { padding: 10px; border-bottom: 1px solid #000; background-color: #f8f8f8; text-align: right; } .payment-row { display: flex; gap: 30px; padding: 10px; border-bottom: 1px solid #000; align-items: center; } .items-table { width: 100%; border-collapse: collapse; margin-bottom: 0; } .items-table th { background-color: #d0d0d0; border: 1px solid #000; padding: 5px; font-size: 10px; font-weight: bold; text-align: center; } .items-table td { border: 1px solid #000; padding: 5px; font-size: 10px; text-align: center; } .item-description { text-align: left !important; } .total-amount { font-size: 14px; font-weight: bold; margin-top: 5px; } .footer-section { display: flex; padding: 15px; border-top: 1px solid #000; align-items: flex-start; gap: 20px; } .qr-section { text-align: center; } .qr-placeholder { width: 300px; height: 300px; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center; font-size: 8px; margin-bottom: 5px; } .arca-section { margin-right: 20px; } .cae-section { flex: 1; text-align: left; width: max-content; min-width: max-content; } .field { margin-bottom: 3px; font-size: 11px; } .field-label { font-weight: bold; display: inline-block; } .company-name { font-weight: bold; font-size: 12px; margin-bottom: 8px; margin-top: 60px; } .bold-text { font-weight: 600; }  </style>\n</head>\n\n<body>\n  <div class=\"invoice\">\n    <div class=\"original-row\">ORIGINAL</div>\n    <div class=\"header-row\">\n      <div class=\"code-box\">\n        <div class=\"code-e\">{{ $('create_voucher').item.json.FEXAuthorizeResult.FEXResultAuth.Cbte_tipo || 'E' }}</div>\n        <div class=\"code-19\">COD. 19</div>\n      </div>\n      <div class=\"left-header\">\n        <div class=\"company-name\">DEL PADRE CABRERA RODRIGO DAVID</div>\n        <div class=\"field\"><span class=\"field-label\">Razón Social:</span> DEL PADRE CABRERA RODRIGO DAVID</div>\n        <div class=\"field\"><span class=\"field-label\">Domicilio Comercial:</span> Bolivia 165 - Barrio Nueva Cordoba, Córdoba, Argentina</div>\n        <div class=\"field\"><span class=\"field-label\">Condición frente al IVA:</span> Responsable Monotributo</div>\n      </div>\n      <div class=\"right-header\">\n        <div class=\"factura-title\">FACTURA DE EXPORTACIÓN</div>\n        <div class=\"right-details\">\n          <div class=\"field\"><span class=\"field-label\">Compr. Nro:</span> {{ $('create_voucher').item.json.FEXAuthorizeResult.FEXResultAuth.Cbte_nro || '001' }}</div>\n          <div class=\"field\"><span class=\"field-label\">Fecha de Emisión:</span> {{ ($('create_voucher').item.json.FEXAuthorizeResult.FEXResultAuth.Fch_cbte || '20250720').toString().replace(/(\\d{4})(\\d{2})(\\d{2})/, '$3/$2/$1') }}</div>\n          <div class=\"field\"><span class=\"field-label\">CUIT:</span> {{ $('create_voucher').item.json.FEXAuthorizeResult.FEXResultAuth.Cuit || '20400832278' }}</div>\n          <div class=\"field\"><span class=\"field-label\">Ingresos Brutos:</span> 20-40083227-8</div>\n          <div class=\"field\"><span class=\"field-label\">Fecha de Inicio de Actividades:</span> 01/09/2021</div>\n          <div class=\"field\"><span class=\"field-label\">IVA EXENTO OPERACIÓN DE EXPORTACIÓN</span></div>\n        </div>\n      </div>\n    </div>\n    <div class=\"company-row\">\n      <div class=\"company-details\">\n        <div class=\"client-section\">\n          <div class=\"field\"><span class=\"field-label\">Señor(es):</span> {{ $('Set Invoice Data').item.json.client_name }}</div>\n          <div class=\"field\"><span class=\"field-label\">País:</span> {{ $('Set Invoice Data').item.json.client_country }}</div>\n          <div class=\"field\"><span class=\"field-label\">CUIT País:</span> {{ $('Set Invoice Data').item.json.client_cuit_country }} ({{ $('Set Invoice Data').item.json.client_country }} - Persona jurídica)</div>\n          <div class=\"field\"><span class=\"field-label\">ID Impositivo:</span> {{ $('Set Invoice Data').item.json.client_dni }}</div>\n        </div>\n        <div class=\"address-section\">\n          <div class=\"field\"><span class=\"field-label\">Domicilio:</span> {{ $('Set Invoice Data').item.json.client_address }}</div>\n        </div>\n      </div>\n    </div>\n    <div class=\"full-width-row\">\n      <div class=\"field\"><span class=\"field-label\">Divisa:</span> USD - Dólar Estadounidense</div>\n    </div>\n    <div class=\"full-width-row\">\n      <div class=\"field\"><span class=\"field-label\">Destino del Comprobante:</span> {{ $('Set Invoice Data').item.json.client_country }}</div>\n    </div>\n    <div class=\"payment-row\">\n      <div class=\"field\"><span class=\"field-label\">Forma de Pago:</span> {{ $('Set Invoice Data').item.json.payment_method }}</div>\n      <div class=\"field\"><span class=\"field-label\">Fecha de Pago:</span> {{ ($('Set Invoice Data').item.json.payment_date || '20250730').toString().replace(/(\\d{4})(\\d{2})(\\d{2})/, '$3/$2/$1') }}</div>\n      <div class=\"field\"><span class=\"field-label\">Incoterms:</span> </div>\n    </div>\n    <table class=\"items-table\">\n      <thead>\n        <tr>\n          <th>Item</th>\n          <th>Descripción</th>\n          <th>Cantidad</th>\n          <th>Precio Unit. (USD)</th>\n          <th>Total por Item (USD)</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td>1</td>\n          <td class=\"item-description\">{{ $('Set Invoice Data').item.json.invoice_description }}</td>\n          <td>{{ $('Set Invoice Data').item.json.invoice_quantity.toFixed(6) }}<br><small>U. Medida: otras unidades</small></td>\n          <td>{{ ($('Set Invoice Data').item.json.invoice_amount / $('Set Invoice Data').item.json.invoice_quantity).toFixed(6) }}</td>\n          <td>{{ $('Set Invoice Data').item.json.invoice_amount.toFixed(2) }}</td>\n        </tr>\n      </tbody>\n    </table>\n    <div class=\"summary-row\">\n      <div class=\"field\"><span class=\"field-label\">Tipo de Cambio:</span> </div>\n      <div class=\"field\"><span class=\"field-label\">Divisa:</span> USD - Dólar Estadounidense</div>\n      <div class=\"total-amount\"><span class=\"field-label\">Importe Total:</span> {{ $('Set Invoice Data').item.json.invoice_amount.toFixed(2) }}</div>\n    </div>\n    <div class=\"footer-section\">\n      <div class=\"qr-section\">\n        <img class=\"qr-placeholder\" src=\"{{ 'https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=' + encodeURIComponent($json.qr_code_text) }}\">\n      </div>\n      <div class=\"arca-section\">\n        <div style=\"font-weight: bold; font-size: 14px;\">ARCA</div>\n        <div style=\"font-size: 9px;\">Organismo gubernamental</div>\n        <div style=\"margin-top: 10px; font-weight: bold;\">Comprobante Autorizado</div>\n        <div class=\"bold-text\" style=\"font-size: 9px; margin-top: 10px;\">Esta Agencia no se responsabiliza por la veracidad de los datos ingresados en el detalle de la operación</div>\n      </div>\n      <div class=\"cae-section\">\n        <div class=\"field\"><span class=\"field-label\">CAE N°:</span> {{ $('create_voucher').item.json.FEXAuthorizeResult.FEXResultAuth.Cae || '12345678901234' }}</div>\n        <div class=\"field\"><span class=\"field-label\">Fecha de Vto. de CAE:</span> {{ ($('create_voucher').item.json.FEXAuthorizeResult.FEXResultAuth.Fch_venc_Cae || '20250730').toString().replace(/(\\d{4})(\\d{2})(\\d{2})/, '$3/$2/$1') }}</div>\n      </div>\n    </div>\n  </div>\n</body>\n\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        448
      ],
      "id": "58c46e28-8581-4513-bc4b-6c2902d91ebb",
      "name": "generate_html",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.afipsdk.com/api/v1/pdfs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"html\": $(\"generate_html\").item.json.html,\n\"file_name\": \"Factura\",\n\"options\": {\n\"width\": 8,\n\"marginLeft\": 0.4,\n\"marginRight\": 0.4,\n\"marginTop\": 0.4,\n\"marginBottom\": 0.4\n}\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        448
      ],
      "id": "d2cbf880-7cff-4633-9a12-059b0c7427a9",
      "name": "create_pdf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8142830507:AAHfrQayzj8f9jDZNrtqbocq4XleJMQQUwk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=✅ *Factura AFIP generada exitosamente* ✅\n\n📋 *Detalles de la factura:*\n👤 Cliente: {{ $json.invoice_data.client_name }}\n🆔 DNI/CUIT: {{ $json.invoice_data.client_dni }}\n📍 Dirección: {{ $json.invoice_data.client_address }}\n🌍 País: {{ $json.invoice_data.client_country }}\n💰 Monto USD: ${{ $json.invoice_data.invoice_amount }}\n📅 Fecha: {{ $json.invoice_data.invoice_date }}\n💳 Pago: {{ $json.invoice_data.payment_method }}\n📅 Vencimiento: {{ $json.invoice_data.payment_date }}\n\n🧾 *Número de comprobante:* {{ $json.voucher_result.Cbte_nro }}\n🔐 *CAE:* {{ $json.voucher_result.Cae }}\n📅 *Vencimiento CAE:* {{ $json.voucher_result.Fch_venc_Cae }}\n\n📄 *PDF de la factura generado correctamente*\n\n¡Gracias por usar nuestro servicio! 🎉"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        448
      ],
      "id": "f160f238-4197-4516-a2ee-eb9008540ebb",
      "name": "Send Success Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8142830507:AAHfrQayzj8f9jDZNrtqbocq4XleJMQQUwk/sendMessage",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        592
      ],
      "id": "c5901122-57ce-4e1e-a6a9-58cc7cbf58f4",
      "name": "Send Error Telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Check Valid Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Process Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Response": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Process Invoice": {
      "main": [
        [
          {
            "node": "Prepare Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Data": {
      "main": [
        [
          {
            "node": "Set Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invoice Data": {
      "main": [
        [
          {
            "node": "get_authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_authorization": {
      "main": [
        [
          {
            "node": "get_last_voucher_number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_last_voucher_number": {
      "main": [
        [
          {
            "node": "get_usd_exchange_rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_usd_exchange_rate": {
      "main": [
        [
          {
            "node": "create_voucher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_voucher": {
      "main": [
        [
          {
            "node": "generate-qr-code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate-qr-code": {
      "main": [
        [
          {
            "node": "generate_html",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Success Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_html": {
      "main": [
        [
          {
            "node": "create_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe123110-ef14-4179-8773-89ff42b29b41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "561bff2e8f6778098f91ffd8967901e92a6a6753c115eb12b092dd6216900b06"
  },
  "id": "52jg5Zl4ffolQ1Fq",
  "tags": []
}