FLOW-stock-screener-v4-RSI-COMPLETO.json
{
  "name": "FLOW-stock-screener-v4-RSI-COMPLETO",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "dayOfWeek"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Weekly Monday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1j7ROJwahx68pOOq4XfTNY1r71Q-feR7jbYNPqjwk4wg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Watchlist"
        },
        "options": {}
      },
      "id": "read-watchlist",
      "name": "Read Watchlist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UlKwlxXeCH1gF7qX",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/stable/profile?symbol={{ $json.Ticker }}&apikey=WzqQBQScYqY4OgaCUZwa5re5NBWVyyBK",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-profile",
      "name": "FMP Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        512
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/stable/ratios-ttm?symbol={{ $json.symbol }}&apikey=WzqQBQScYqY4OgaCUZwa5re5NBWVyyBK",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-ratios",
      "name": "FMP Ratios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        512
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/stable/key-metrics-ttm?symbol={{ $json.symbol }}&apikey=WzqQBQScYqY4OgaCUZwa5re5NBWVyyBK",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-metrics",
      "name": "FMP Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        512
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Enriquecer cada item con el ticker original y detectar fallos de FMP más robustamente\nconst items = $input.all();\nconst allWatchlist = $('Read Watchlist').all();\n\nreturn items.map((item, idx) => {\n  const ticker = allWatchlist[idx]?.json?.Ticker || 'UNKNOWN';\n  const jsonStr = JSON.stringify(item.json);\n  // Detectar errores o ausencia de datos relevantes\n  const hasError = jsonStr.includes('Error Message') || jsonStr.includes('Legacy Endpoint') || jsonStr.includes('Limit Reach');\n  // Verificar campos críticos que deberían existir en la respuesta de FMP Metrics\n  const hasMetrics = item.json && Object.keys(item.json).length > 0 && item.json.marketCap != null;\n  const fmpFailed = hasError || !hasMetrics;\n\n  return {\n    json: {\n      ...item.json,\n      _ticker: ticker,\n      _fmpFailed: fmpFailed\n    }\n  };\n});"
      },
      "id": "code-enrich",
      "name": "Enrich with Ticker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-fmp-failed",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json._fmpFailed }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-fmp-ok",
      "name": "FMP Fallo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        512
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://www.alphavantage.co/query?function=RSI&symbol={{ $json._ticker }}&interval=daily&time_period=14&series_type=close&apikey=42J2QW442HR440NZ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-rsi-alpha",
      "name": "Alpha Vantage RSI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combinar RSI de Alpha Vantage con el _ticker del IF FALSE branch\nconst rsiItems = $input.all();\nlet ifFalseItems = [];\ntry { ifFalseItems = $('FMP Fallo?').all(); } catch(e) {}\n\nreturn rsiItems.map((item, idx) => {\n  const rsiData = item.json || {};\n  const ticker = ifFalseItems[idx]?.json?._ticker || rsiData['Meta Data']?.['1: Symbol'] || 'UNKNOWN';\n  let rsiVal = null;\n  let rsiSource = 'NONE';\n  if (rsiData['Technical Analysis: RSI']) {\n    const dates = Object.keys(rsiData['Technical Analysis: RSI']);\n    if (dates.length > 0) {\n      rsiVal = parseFloat(rsiData['Technical Analysis: RSI'][dates[0]].RSI);\n      rsiSource = 'Alpha Vantage';\n    }\n  }\n  return {\n    json: {\n      _ticker: ticker,\n      _rsiAlpha: rsiVal,\n      _rsiSource: rsiSource,\n      _needsFinvizRsi: rsiVal === null\n    }\n  };\n});"
      },
      "id": "code-check-rsi",
      "name": "Check RSI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://finviz.com/quote.ashx?t={{ $json._ticker }}&ty=c&ta=1&p=d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "finviz-rsi-fetch",
      "name": "Finviz RSI Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2304,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "allLabels",
              "cssSelector": "table.snapshot-table2 td.snapshot-td2:not(:has(b))",
              "returnArray": true
            },
            {
              "key": "allValues",
              "cssSelector": "table.snapshot-table2 td.snapshot-td2 b",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "finviz-rsi-extract",
      "name": "Finviz RSI Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        2560,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Score FMP - Fixed ticker lookup\nconst finvizFull = [];\ntry {\n  const fv = $('Finviz Extract').all();\n  if (Array.isArray(fv)) finvizFull.push(...fv);\n} catch(e) { console.log('Finviz Extract error:', e.message); }\n\nconst finvizMap = {};\nfinvizFull.forEach(item => {\n  const t = item?.json?._ticker || '';\n  if(t) finvizMap[t] = item.json;\n});\n\nconst checkRsiItems = $('Check RSI').all();\nconst allProfile = $('FMP Profile').all();\nconst allRatios = $('FMP Ratios').all();\nconst allMetrics = $('FMP Metrics').all();\n\nconsole.log('=== Score FMP Debug ===');\nconsole.log('checkRsiItems:', checkRsiItems.length);\nconsole.log('allProfile:', allProfile.length);\n\nconst results = [];\n\nconst parseNum = val => {\n  if(!val || val === '-') return null;\n  const c = String(val).replace(/[%,]/g, '');\n  const n = parseFloat(c);\n  return isNaN(n) ? null : n;\n};\n\n// Robust ticker finder - handles multiple response formats\nconst findByTicker = (arr, ticker) => {\n  if (!arr || !Array.isArray(arr)) return { json: {} };\n\n  for (const item of arr) {\n    if (!item?.json) continue;\n    const j = item.json;\n\n    // Handle array response format from FMP\n    if (Array.isArray(j)) {\n      const found = j.find(it => it?.symbol === ticker || it?.Ticker === ticker);\n      if (found) return { json: found };\n    }\n\n    // Handle object with symbol directly\n    if (j.symbol === ticker || j.Ticker === ticker || j._ticker === ticker) {\n      return item;\n    }\n  }\n  return { json: {} };\n};\n\nfor(let i = 0; i < checkRsiItems.length; i++) {\n  const check = checkRsiItems[i]?.json;\n  if(!check) continue;\n\n  if(check._fmpFailed) {\n    console.log('Skipping FMP failed:', check._ticker);\n    continue;\n  }\n\n  const ticker = check._ticker;\n  console.log('Processing ticker:', ticker);\n\n  const profile = findByTicker(allProfile, ticker).json || {};\n  const ratios = findByTicker(allRatios, ticker).json || {};\n  const metrics = findByTicker(allMetrics, ticker).json || {};\n\n  console.log('Profile found:', !!profile?.symbol, 'Sector:', profile?.sector);\n\n  const getFinvizField = field => {\n    const fv = finvizMap[ticker] || {};\n    const lbls = fv.allLabels || [];\n    const vals = fv.allValues || [];\n    const idx = lbls.findIndex(l => l?.trim() === field);\n    return idx !== -1 ? vals[idx] : null;\n  };\n\n  const price = profile.price || parseNum(getFinvizField('Price')) || 0;\n  const eps = profile.eps || null;\n  let peRatio = ratios.priceToEarningsRatioTTM || null;\n  if(!peRatio && eps && price) peRatio = price / eps;\n  if(!peRatio) { const peStr = getFinvizField('P/E'); peRatio = parseNum(peStr); }\n\n  const roe = metrics.returnOnEquityTTM || null;\n  const profitMargin = ratios.netProfitMarginTTM || null;\n  const beta = profile.beta || parseNum(getFinvizField('Beta')) || 1;\n  const marketCap = profile.marketCap || parseNum(getFinvizField('Market Cap')) || 0;\n  const companyName = profile.companyName || ticker;\n  const sector = profile.sector || profile.industry || 'N/A';\n  let high52w = price;\n  if(profile.range) { const parts = profile.range.split('-'); high52w = parseFloat(parts[1]) || price; }\n\n  const pasaFiltro = (peRatio > 0 && peRatio < 40 && (roe || profitMargin) && marketCap > 500000000);\n  if(!pasaFiltro) {\n    results.push({ json: { filtrado: false, Ticker: ticker, reason: 'FILTER', DataSource: 'FMP' } });\n    continue;\n  }\n\n  let scoreFund = 0;\n  if(peRatio < 15) scoreFund += 10;\n  else if(peRatio < 25) scoreFund += 7;\n  else if(peRatio < 40) scoreFund += 5;\n\n  const roeVal = roe !== null ? roe : (parseNum(getFinvizField('ROE')) / 100);\n  if(roeVal) {\n    if(roeVal > 0.20) scoreFund += 10;\n    else if(roeVal > 0.10) scoreFund += 7;\n    else if(roeVal > 0.05) scoreFund += 3;\n  }\n\n  const pmVal = profitMargin !== null ? profitMargin : (parseNum(getFinvizField('Profit Margin')) / 100);\n  if(pmVal) {\n    if(pmVal > 0.20) scoreFund += 10;\n    else if(pmVal > 0.10) scoreFund += 7;\n    else if(pmVal > 0) scoreFund += 3;\n  }\n\n  let rsiVal = check._rsiAlpha;\n  let rsiSource = check._rsiSource;\n  if(rsiVal === null) {\n    const rsiStr = getFinvizField('RSI (14)');\n    rsiVal = parseNum(rsiStr);\n    if(rsiVal !== null) rsiSource = 'Finviz';\n  }\n\n  let scoreTec = 0;\n  if(rsiVal !== null) {\n    if(rsiVal < 30) scoreTec += 18;\n    else if(rsiVal < 40) scoreTec += 15;\n    else if(rsiVal < 60) scoreTec += 10;\n    else if(rsiVal < 70) scoreTec += 5;\n  }\n\n  const distHigh = high52w > 0 ? ((high52w - price) / high52w) * 100 : 0;\n  if(distHigh > 20) scoreTec += 7;\n  else if(distHigh < 5) scoreTec -= 5;\n\n  const total = Math.round(scoreFund + scoreTec + 12.5);\n  let senal = 'NEUTRAL';\n  if(total >= 80) senal = 'COMPRA FUERTE';\n  else if(total >= 60) senal = 'COMPRA';\n  else if(total >= 40) senal = 'NEUTRAL';\n  else senal = 'EVITAR';\n\n  let perfil = 'Arriesgado';\n  if(beta < 1 && marketCap > 10000000000) perfil = 'Conservador';\n\n  results.push({ json: {\n    filtrado: true,\n    Fecha: new Date().toISOString().split('T')[0],\n    Ticker: ticker,\n    Empresa: companyName,\n    Sector: sector,\n    Precio: price,\n    PE: peRatio !== null ? Number(peRatio).toFixed(2) : 'N/A',\n    ROE: roeVal !== null ? (roeVal * 100).toFixed(2) + '%' : 'N/A',\n    ProfitMargin: pmVal !== null ? (pmVal * 100).toFixed(2) + '%' : 'N/A',\n    MarketCap: (marketCap / 1e9).toFixed(2) + 'B',\n    Beta: Number(beta).toFixed(2),\n    RSI: rsiVal !== null ? Number(rsiVal).toFixed(2) : 'N/A',\n    RSI_Source: rsiSource,\n    Dist52wHigh: distHigh.toFixed(1) + '%',\n    Sentimiento: 'NEUTRAL',\n    TieneSuper: 'N/A',\n    Senal: senal,\n    Score: total,\n    Perfil: perfil,\n    DataSource: 'FMP+Finviz'\n  }});\n}\n\nconsole.log('Results:', results.length);\nreturn results;\n"
      },
      "id": "code-score-fmp",
      "name": "Score FMP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://finviz.com/quote.ashx?t={{ $json._ticker }}&ty=c&ta=1&p=d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "finviz-fetch",
      "name": "Finviz Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "allLabels",
              "cssSelector": "table.snapshot-table2 td.snapshot-td2:not(:has(b))",
              "returnArray": true
            },
            {
              "key": "allValues",
              "cssSelector": "table.snapshot-table2 td.snapshot-td2 b",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "finviz-extract",
      "name": "Finviz Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        2048,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Score Finviz - Fixed ticker lookup with sector fallback\nconst items = $input.all();\nconst results = [];\nlet fmpFailedItems = [];\ntry { fmpFailedItems = $('FMP Fallo?').all(); } catch (e) { console.log('FMP Fallo error:', e.message); }\n\nconsole.log('=== Score Finviz Debug ===');\nconsole.log('items:', items.length);\nconsole.log('fmpFailedItems:', fmpFailedItems.length);\n\nconst parseNum = val => {\n  if (!val || val === '-') return null;\n  const cleaned = String(val).replace(/[%,]/g, '');\n  const n = parseFloat(cleaned);\n  return isNaN(n) ? null : n;\n};\nconst parseMktCap = val => {\n  if (!val) return 0;\n  const n = parseFloat(val);\n  if (isNaN(n)) return 0;\n  if (val.includes('T')) return n * 1e12;\n  if (val.includes('B')) return n * 1e9;\n  if (val.includes('M')) return n * 1e6;\n  return n;\n};\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const item = items[idx];\n  const labels = item?.json?.allLabels || [];\n  const values = item?.json?.allValues || [];\n\n  // Fixed: Use correct index to get ticker\n  const fmpItem = fmpFailedItems[idx]?.json;\n  const tickerName = fmpItem?._ticker || 'UNKNOWN';\n\n  console.log('Processing Finviz ticker:', tickerName);\n\n  const m = {};\n  for (let i = 0; i < Math.min(labels.length, values.length); i++) {\n    m[labels[i]] = values[i];\n  }\n\n  if (Object.keys(m).length < 5) {\n    console.log('Not enough fields for:', tickerName);\n    results.push({ json: { filtrado: false, Ticker: tickerName, reason: 'NO_FINVIZ', DataSource: 'Finviz' } });\n    continue;\n  }\n\n  const price = parseNum(m['Price']) || 0;\n  const peRatio = parseNum(m['P/E']) || 0;\n  const roeRaw = parseNum(m['ROE']);\n  const roe = roeRaw !== null ? roeRaw / 100 : 0;\n  const pmRaw = parseNum(m['Profit Margin']);\n  const profitMargin = pmRaw !== null ? pmRaw / 100 : 0;\n  const beta = parseNum(m['Beta']) || 1;\n  const marketCap = parseMktCap(m['Market Cap'] || '0');\n  const rsiVal = parseNum(m['RSI (14)']);\n\n  // Fixed: Get sector from Finviz - use 'Sector' field or try 'Industry'\n  const sector = m['Sector'] || m['Industry'] || 'N/A';\n  const company = m['Company'] || tickerName;\n\n  console.log('Finviz Sector:', sector, 'Company:', company);\n\n  let high52w = price;\n  if (m['52W High']) high52w = parseFloat(String(m['52W High']).split(' ')[0]) || price;\n\n  let scoreFund = 0;\n  if(peRatio && peRatio < 15) scoreFund += 10;\n  else if(peRatio && peRatio < 25) scoreFund += 7;\n  else if(peRatio && peRatio < 40) scoreFund += 5;\n\n  if(roe && roe > 0.20) scoreFund += 10;\n  else if(roe && roe > 0.10) scoreFund += 7;\n  else if(roe && roe > 0.05) scoreFund += 3;\n\n  if(profitMargin && profitMargin > 0.20) scoreFund += 10;\n  else if(profitMargin && profitMargin > 0.10) scoreFund += 7;\n  else if(profitMargin && profitMargin > 0) scoreFund += 3;\n\n  let scoreTec = 0;\n  if(rsiVal !== null) {\n    if(rsiVal < 30) scoreTec += 18;\n    else if(rsiVal < 40) scoreTec += 15;\n    else if(rsiVal < 60) scoreTec += 10;\n    else if(rsiVal < 70) scoreTec += 5;\n  }\n\n  const distHigh = high52w > 0 ? ((high52w - price) / high52w) * 100 : 0;\n  if(distHigh > 20) scoreTec += 7;\n  else if(distHigh < 5) scoreTec -= 5;\n\n  const total = Math.round(scoreFund + scoreTec + 12.5);\n  let senal = 'NEUTRAL';\n  if(total >= 80) senal = 'COMPRA FUERTE';\n  else if(total >= 60) senal = 'COMPRA';\n  else if(total >= 40) senal = 'NEUTRAL';\n  else senal = 'EVITAR';\n\n  let perfil = 'Arriesgado';\n  if(beta < 1 && marketCap > 10000000000) perfil = 'Conservador';\n\n  results.push({ json: {\n    filtrado: true,\n    Fecha: new Date().toISOString().split('T')[0],\n    Ticker: tickerName,\n    Empresa: company,\n    Sector: sector,\n    Precio: price,\n    PE: Number(peRatio).toFixed(2),\n    ROE: (roe * 100).toFixed(2) + '%',\n    ProfitMargin: (profitMargin * 100).toFixed(2) + '%',\n    MarketCap: (marketCap / 1e9).toFixed(2) + 'B',\n    Beta: Number(beta).toFixed(2),\n    RSI: rsiVal !== null ? Number(rsiVal).toFixed(2) : 'N/A',\n    RSI_Source: 'Finviz',\n    Dist52wHigh: distHigh.toFixed(1) + '%',\n    Sentimiento: 'NEUTRAL',\n    TieneSuper: 'N/A',\n    Senal: senal,\n    Score: total,\n    Perfil: perfil,\n    DataSource: 'Finviz'\n  }});\n}\n\nconsole.log('Finviz Results:', results.length);\nreturn results;\n"
      },
      "id": "code-score-finviz",
      "name": "Score Finviz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-filtrado",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.filtrado }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "if-filtrado",
      "name": "Paso Filtro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3072,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-conservador",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Perfil }}",
              "rightValue": "Conservador"
            }
          ]
        },
        "options": {}
      },
      "id": "if-profile",
      "name": "Is Conservador?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3328,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1j7ROJwahx68pOOq4XfTNY1r71Q-feR7jbYNPqjwk4wg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Conservador"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "write-conservador",
      "name": "Write Conservador",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UlKwlxXeCH1gF7qX",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1j7ROJwahx68pOOq4XfTNY1r71Q-feR7jbYNPqjwk4wg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Arriesgado"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "write-arriesgado",
      "name": "Write Arriesgado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        656
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UlKwlxXeCH1gF7qX",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-compra",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Senal }}",
              "rightValue": "COMPRA"
            },
            {
              "id": "cond-compra-fuerte",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Senal }}",
              "rightValue": "COMPRA FUERTE"
            }
          ]
        },
        "options": {}
      },
      "id": "if-signal",
      "name": "Is Buy Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3840,
        560
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1j7ROJwahx68pOOq4XfTNY1r71Q-feR7jbYNPqjwk4wg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Señales"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "write-signals",
      "name": "Write Señales",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4096,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UlKwlxXeCH1gF7qX",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Weekly Monday 8AM": {
      "main": [
        [
          {
            "node": "Read Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Watchlist": {
      "main": [
        [
          {
            "node": "FMP Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Profile": {
      "main": [
        [
          {
            "node": "FMP Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Ratios": {
      "main": [
        [
          {
            "node": "FMP Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Metrics": {
      "main": [
        [
          {
            "node": "Enrich with Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Ticker": {
      "main": [
        [
          {
            "node": "FMP Fallo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Fallo?": {
      "main": [
        [
          {
            "node": "Finviz Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alpha Vantage RSI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpha Vantage RSI": {
      "main": [
        [
          {
            "node": "Check RSI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RSI": {
      "main": [
        [
          {
            "node": "Finviz RSI Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finviz RSI Scrape": {
      "main": [
        [
          {
            "node": "Finviz RSI Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finviz RSI Extract": {
      "main": [
        [
          {
            "node": "Score FMP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finviz Scrape": {
      "main": [
        [
          {
            "node": "Finviz Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finviz Extract": {
      "main": [
        [
          {
            "node": "Score Finviz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score FMP": {
      "main": [
        [
          {
            "node": "Paso Filtro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Finviz": {
      "main": [
        [
          {
            "node": "Paso Filtro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paso Filtro?": {
      "main": [
        [
          {
            "node": "Is Conservador?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Conservador?": {
      "main": [
        [
          {
            "node": "Write Conservador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Arriesgado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Conservador": {
      "main": [
        [
          {
            "node": "Is Buy Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Arriesgado": {
      "main": [
        [
          {
            "node": "Is Buy Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Buy Signal?": {
      "main": [
        [
          {
            "node": "Write Señales",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2fdc8b26-9185-47af-98d6-753709c8453f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "561bff2e8f6778098f91ffd8967901e92a6a6753c115eb12b092dd6216900b06"
  },
  "id": "aRJpQ33RYDAzppia",
  "tags": []
}